/* Enter your custom styles here */
.tileSpecific{
	height: 300px;
	color: red;
}

.bgColor{
backgroud-color: #ffffff;
}

.sapMGT.TwoByOne {
    width: 28.5rem;
    height: 11rem;
    padding-right: 2rem;
}

.sapUiHLayout {
    display: inline-block;
    white-space: normal;
    padding-right: 1.0rem;
  padding-bottom: 1.5rem;
  padding-left:0.5rem;
}

.sapUiVlt {
    display: inline-block;
    vertical-align: text-top;
    padding-bottom: 2rem;
}

.sapMGT.OneByOne {
    width: 15rem;
    height: 21rem;
}
